
    @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=91819cd0-149e-486b-8c6e-0ce57b602a51&fontids=5563043,5563067");
    @font-face{
        font-family:"DIN Next LT W05 Regular";
        src:url("../fonts/5563043/fbf30f0d-9b28-4f4b-bf80-236159aa85a4.eot?#iefix");
        src:url("../fonts/5563043/fbf30f0d-9b28-4f4b-bf80-236159aa85a4.eot?#iefix") format("eot"),url("../fonts/5563043/f427aeaf-ea01-444e-9eb5-6b2b09e3bf32.woff2") format("woff2"),url("../fonts/5563043/8251f7ab-e651-4555-a26a-525bc230845f.woff") format("woff"),url("../fonts/5563043/d3a8074d-caf8-4840-a8b5-62f7e6792a38.ttf") format("truetype");
    }
    @font-face{
        font-family:"DIN Next LT W05 Bold";
        src:url("../fonts/5563067/6410f055-1052-4346-98ba-6379214fe2e5.eot?#iefix");
        src:url("../fonts/5563067/6410f055-1052-4346-98ba-6379214fe2e5.eot?#iefix") format("eot"),url("../fonts/5563067/f855f545-9ff1-433c-912f-c58bd2d71d28.woff2") format("woff2"),url("../fonts/5563067/8a078fb7-2865-4534-a436-3c2a87c69d57.woff") format("woff"),url("../fonts/5563067/29f094ce-b1ca-4cbf-ab45-abe0e4d8272b.ttf") format("truetype");
    }
