// COLOUR PALETTE

$white: #ffffff;
$black: #000000;
$yellow: #FFD65C;
$darkblue: #315779;
$cyan: #33ACE3;
$greyblue: #315779;
$green: #3DC291;
$darkgrey: #999999;
$mediumgrey: #AFAFAF;
$lightgrey: #E4E4E4;
$bg_grey: #F7F7F7;
$cookie_grey:#F2F2F2;
$blue: #1A2141;