@import "compass/css3/opacity";
@import 'compass/css3/filter';
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "colour_palette";

@mixin respond-to($media, $min:"", $max:"") {
  @if $media == mobile {
    @media only screen and (max-width: 800px) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: 501px) and (max-width: 800px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: 801px) { @content; }
  }
  @else if $media == not-mobile {
    @media only screen and (min-width: 601px) { @content; }
  }
  @else if $media == defined {

    @if $min == 0 {
      @media only screen and (max-width: $max) { @content; }
    }

    @else if $max == 0 {
      @media only screen and (min-width: $min) { @content; }
    }

    @else {
      @media only screen and (min-width: $min) and (max-width: $max) { @content; }
    }

  }
}


// vars for fonts used on site
$din_medium: 'FF DIN Pro Medium', 'helvetica', arial, sans-serif;
$din: 'DIN Next LT W05 Regular', 'helvetica', arial, sans-serif;
$din_bold: 'DIN Next LT W05 Bold', 'helvetica', arial, sans-serif;
$din_light: 'FF DIN Pro Extra Light', 'helvetica', arial, sans-serif;


// Mixins

// Typography mixins
@mixin din_bold {
  font-family: $din_bold;
  font-weight: 700;
}
@mixin din_medium {
  font-family: $din_medium;
  font-weight: 600;
}

@mixin din_light {
  font-family: $din_light;
  font-weight: 300;
}

// CTA - 
@mixin cta {
  background: $yellow;
  color: $blue;
  font-family: $din_bold;
  padding: 14px 30px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);

  &:hover {
    background: rgba(254, 230, 163, 0.8);
    text-decoration: none!important;
  }
}









